@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

/* 기본 스타일 */
* {
  margin: 0;
  padding: 0;
  font-family: 'Pretendard', sans-serif;
}

.list-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* 헤더 스타일 */
.list-header {
  margin-top: 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #ffffff;
  padding: 10px 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.list-header img {
  cursor: pointer;
  margin-left: 25px;
  margin-right: 25px;
}

.list-header .list-logo {
  width: 40px;
  height: auto;
  margin-right: -15px; /* 텍스트와 로고 겹침 */
}

.list-header h1 {
  font-size: 28px;
  font-weight: 800;
  color: #414141;
  text-align: center;
  margin: 0;
}

/* 폼 스타일 */
.list-form {
  padding: 20px;
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 1200px;
  margin-top: 100px;

}

.list-form h2 {
  font-size: 21px;
  color: #414141;
  margin-bottom: 40px;
  margin-top:25px;
}

/* 체크리스트 컨테이너 */
.checklist-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
/* 체크리스트 카드 */
.checklist-card {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 70px;
  border-radius: 10px;
  color: #ffffff;
  font-size: 16px;
  overflow: hidden;
  background-color: #0A62D0;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  margin: 10px 0;
  text-align: center;
}

.checklist-card::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(128, 149, 198, 0.3);
  z-index: 1;
}

.checklist-card p,
.checklist-card span {
  position: relative;
  z-index: 2;
  margin: 0;
  padding: 0 15px;
  color: #ffffff;
}

.checklist-card p {
  font-weight: bold;
  font-size: 18px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.checklist-card span {
  font-size: 14px;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}

.checklist-card:hover {
  transform: scale(1.05);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.15);
}

/* + 버튼 */
.add-checklist-card {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 344px;
  height: 70px;
  border-radius: 10px;
  color: #DEDEDE;
  border: 2px solid #DEDEDE;
  font-size: 24px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
  text-align: center;
}

.add-checklist-card:hover {
  background-color: #0A62D0;
  color: #ffffff;
  transform: scale(1.05);
}

.add-checklist-card:active {
  background-color: #003f87;
  transform: scale(0.95);
}
.delete{
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  border-radius: 4px;
  font-size: 14px;
}