@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.board_overlay #titleContainer {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #ffffff;
    padding: 20px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* 헤더 하단 그림자 */
    z-index: 1000; /* 다른 요소 위에 표시 */
}

.board_overlay #titleContainer h1{
    font-size: 21px;
}

.board_overlay #title {
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.board_overlay #titleContainer img {
    transform-origin: center;
}

.createEdit h1{
    margin-right: 25vw;
}

.board_overlay .container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board_overlay button {
    padding: 10px 20px;
    background-color: #0A62D0;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.board_overlay #postDetailContainer{
    box-sizing: border-box;
    padding-left: 30px;
    padding-right: 30px;
}


.board_overlay ul {
    list-style-type: none;
    padding: 0;
}

.board_overlay li {
    padding: 15px;
    margin-bottom: 10px;

}

.board_overlay h2 {
    margin-bottom: 20px;
}

.board_overlay hr {
    border: 0;
    height: 1px;
    background-color: #DCDCDC;
    width:80vw;
    margin: 10px auto;
}

.board_overlay textarea,.board_overlay input {
    box-sizing: border-box;
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.board_overlay .form-container {
    margin-top: 20px;
}

.board_overlay .delete-button {
    background-color: #d9534f;
}

.board_overlay .delete-button:hover {
    background-color: #c9302c;
}

.board_overlay .edit-button {
    background-color: #0275d8;
}

.board_overlay .edit-button:hover {
    background-color: #025aa5;
}

.board_overlay .postsList button{
    padding-left:5px;
}

.board_overlay #boardSelection button,.board_overlay #boardSelection span button {
    width: 100%;              /* 버튼의 너비를 100%로 설정하여 부모 컨테이너에 맞게 확장 */
    padding: 15px;            /* 버튼의 내부 여백 */
    padding-left: 25px;            /* 버튼의 내부 여백 */
    font-size: 16px;
    background-color: white; /* 버튼 배경색 */
    color: black;             /* 버튼 텍스트 색 */
    border: none;             /* 기본 버튼 테두리 제거 */
    cursor: pointer;         /* 마우스 오버 시 포인터로 변경 */
    text-align: left;
}

#boardSelection button:hover, #buttonSelection span button:hover {
    text-decoration: underline;
    text-decoration-color: gray;
}

#boardSelection{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 3vw;
    margin-right: 3vw;
    margin-top: 90px;
}

#boardSelection span {
    display: flex;         /* 이미지와 버튼을 수평으로 배치 */
    align-items: center;   /* 세로 중앙 정렬 */
}

#boardSelection span img {
    margin-left: 25px;    /* 이미지와 버튼 사이의 간격 설정 */
}

#postListContainer{
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
}

.board_overlay .searchContainer{
    display: flex;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: space-between;
    border-radius:10px;
    padding: 15px;
    height: 20px;
    overflow: hidden;
}
.board_overlay #search, .board_overlay #commentInput{
    box-sizing: border-box;
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    font-size: 15px;
    padding:5px;
    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    height: 25px;
}

.board_overlay #search-btn,.board_overlay  #comment-btn{
    border: none;
    cursor: pointer;
    width: 10px;
    height: 10px;
    background-color: #F6F6F6;
    background-position:center;
    background-repeat: no-repeat;
    background-size: contain;
}

.board_overlay #search:focus{
    border: none;
    outline: none;
}

.board_overlay .createNlist{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.board_overlay #createpost-btn{
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.board_overlay #createpost-btn:hover{
    text-decoration: underline;
    text-decoration-color: gray;
}

.board_overlay #alignBar{
    margin-left: auto;
}

.board_overlay #formContainer,.board_overlay  #formContainer div,.board_overlay #editFormContainer,.board_overlay #editFormContainer div{
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-left: 20px;
    margin-right: 20px;
}

.board_overlay #formContainer{
    margin-top: 90px;
}

.board_overlay #formContainer button,.board_overlay #editFormContainer button{
    margin-top:30vw;
}

.board_overlay #formContainer input,.board_overlay #editFormContainer input{
    border:none;
    outline: none;
}

.board_overlay #formContainer textarea,.board_overlay  #editFormContainer textarea{
    height: 90vw;
}

.board_overlay #countHeart{
    padding-left: 10px;
    text-align: right;
    display: block;
}