@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard/dist/web/static/pretendard.css');

.board_overlay #titleContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.board_overlay #title {
    flex: 1;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
}

.BD_container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.board_overlay button {
    padding: 10px 20px;
    background-color: #0A62D0;
    border-radius: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

#postDetailContainer {
    padding-left: 30px;
    padding-right: 30px;
}

.board_overlay .posts {
    margin-top: 30px;
}

.board_overlay ul {
    list-style-type: none;
    padding: 0;
}

.board_overlay li {
    padding: 15px;
    margin-bottom: 10px;
}

.board_overlay h2 {
    margin-bottom: 20px;
}

.board_overlay textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.board_overlay input {
    width: 100%;
    padding: 10px;
    margin: 5px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.board_overlay .form-container {
    margin-top: 20px;
}

.board_overlay .delete-button {
    background-color: #d9534f;
}

.board_overlay .delete-button:hover {
    background-color: #c9302c;
}

.board_overlay .edit-button {
    background-color: #0275d8;
}

.board_overlay .edit-button:hover {
    background-color: #025aa5;
}

.board_overlay .createNlist {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 3vw;
    padding-right: 3vw;
}

.board_overlay #createpost-btn {
    background-color: white;
    color: black;
    padding: 15px;
    padding-left: 15px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    text-align: left;
}

.board_overlay #createpost-btn:hover {
    text-decoration: underline;
    text-decoration-color: gray;
}

.board_overlay #alignBar {
    margin-left: auto;
}

.board_overlay #formContainer,.board_overlay #formContainer div,.board_overlay #editFormContainer,.board_overlay #editFormContainer div {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    margin-right: 20px;
}

.board_overlay #formContainer button,.board_overlay #editFormContainer button {
    margin-top: 30vw;
}

.board_overlay #formContainer input,.board_overlay #editFormContainer input {
    border: none;
    outline: none;
}

.board_overlay #formContainer textarea,.board_overlay #editFormContainer textarea {
    height: 90vw;
}

.board_overlay #countHeart {
    padding-left: 10px;
    text-align: right;
    display: block;
}
.board_overlay #mainBD_Container2 {
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white; /* 배경색을 설정하여 다른 요소와 겹쳐도 보이도록 */
    margin-top: 90px;
}

.board_overlay .searchBD_Container {
    display: flex;
    background-color: #F6F6F6;
    align-items: center;
    justify-content: space-between;
    border-radius:10px;
    padding: 15px;
    height: 20px;
    overflow: hidden;
}

.board_overlay #search {
    background-color: #F6F6F6;
    border-color: #F6F6F6;
    font-size: 18px;
    padding: 5px;
    resize: none;
    overflow-x: auto;
    overflow-y: hidden;
    white-space: nowrap;
    width: 80%;
    height: 25px;
}

.board_overlay #search-btn {
    border: none;
    cursor: pointer;
    width: 20px;
    height: 20px;
    background-color: #F6F6F6;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.board_overlay #search:focus {
    border: none;
    outline: none;
}

/* Post List */
.board_overlay #postLisBD_tContainer {
    display: flex;
    margin-left: 20px;
    margin-right: 20px;
    justify-content: center;
    flex-direction: column; /* 자식 요소들을 세로로 배치 */
}


.board_overlay #postList {
    list-style: none;
    padding: 0;
}

.board_overlay #postList li {
    padding: 15px;
    margin-bottom: 10px;
}

.board_overlay #postList li span {
    display: block;
    margin-top: 5px;
}