.board_overlay #postDetailContainer{
    width: 100%;
    box-sizing: border-box;
    padding: 20px;
    background-color: white;
    margin-top: 90px;
}

.board_overlay #postDetailContainer div{
    margin-bottom: 20px;
}

.board_overlay #postContentDetail{
    margin-bottom: 40px;
}

.board_overlay .menu-header{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 20px;
}

.board_overlay h3{
    box-sizing: border-box;
    display: flex;
    align-items: center;
}